<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Vaccine Booking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Co-Win | WebSite</ion-card-title>
      <ion-card-subtitle>Winning Over COVID-19</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      By Ministry of Health and Family Welfare<br>
      #Largest Vaccine Drive<br>
      <a href="https://selfregistration.cowin.gov.in/"
        target="_blank">Click Here to Navigate</a>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Aarogya Setu | MobileApp</ion-card-title>
      <ion-card-subtitle>Winning Over COVID-19 | By Govt. Of India</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Aarogya Setu is a mobile application developed by the Government
      of India to connect essential health services with the people of India in our combined fight against COVID-19.<br>
      <a href="https://www.google.com/url?sa=t&source=web&rct=j&url=https://www.aarogyasetu.gov.in/applink/&ved=2ahUKEwj_3dKzsPjwAhXJb30KHTJQDzkQFjAHegQIHxAC&usg=AOvVaw3fyOfsMQLsC0apLGSZwfP8&cshid=1622617296076"
        target="_blank">Click Here to Navigate</a>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>UMANG | MobileApp</ion-card-title>
      <ion-card-subtitle>Unified Mobile Application for New-age Governance</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      UMANG provides easy access to a plethora of Indian government services ranging from –
      Healthcare, Finance, Education, Housing, Energy, Agriculture, Transport to even Utility and Employment and
      Skills.<br>
      <a href="https://play.google.com/store/apps/details?id=in.gov.umang.negd.g2c&hl=en_US&gl=US"
        target="_blank">Click Here to Navigate</a>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Vaccine Booking Authorized @GovtOfqIndia</ion-title>
  </ion-toolbar>
</ion-footer>