<ion-header [translucent]="true"
  class="home-header">
  <ion-toolbar>
    <ion-title>
      Active Notifications
    </ion-title>
    <ion-icon slot="end"
      [class.active]="intervalRunning"
      class="notify-outline-icon"
      name="notifications-outline"
      (click)="openNotificationSettings()"></ion-icon>
    <ion-icon slot="end"
      class="refresh-outline-icon"
      name="reload-outline"
      (click)="getCenters()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"
  class="home-component">
  <ion-item class="search-bar-item">
    <ion-searchbar [(ngModel)]="search.input"
      [style.width]="'45%'"
      placeholder="Search Center Name, Fee, Pincode"
      animated
      class="search-input"
      showCancelButton="focus"></ion-searchbar>
    <ion-select [(ngModel)]="search.ageLimit"
      [style.width]="'35%'"
      interface="popover"
      [interfaceOptions]="interfaceOptions"
      placeholder="Age Limit">
      <ion-select-option *ngFor="let age of ageLimts"
        [value]="age">{{ age }} Years</ion-select-option>
    </ion-select>
    <ion-button color="{{search.onlyAvailable ? 'success' : 'light'}}"
      size="small"
      class="ion-available-btn"
      [style.width]="'20%'"
      (click)="search.onlyAvailable = !search.onlyAvailable">
      {{search.onlyAvailable ? 'Available' : 'All'}}</ion-button>
  </ion-item>
  <div class="card-container"
    *ngIf="(latestCenterAvailability | searchBy: search.input : search.ageLimit : search.onlyAvailable) as filterClients">
    <ion-card *ngFor="let center of filterClients; trackBy: trackByFn"
      class="centers-list">
      <ion-label>
        <ion-icon slot="end"
          class="trash-outline-icon"
          name="trash-outline"
          (click)="deleteCenter(center.center_id)"></ion-icon>
        <h6>{{ center.name }}</h6>
        <h6>{{ center.state_name }}, {{ center.district_name }} - {{ center.pincode }}</h6>
        <h6>{{ center.address }}</h6>
        <div class="vaccine-type">
          <ng-container *ngIf="center.fee_type === 'Paid'">
            <ion-chip *ngFor="let fee of center.vaccine_fees"
              color="warning"
              outline="true">
              <ion-label>{{ fee.vaccine }} - {{ fee.fee }}</ion-label>
            </ion-chip>
          </ng-container>
          <ion-chip *ngIf="center.fee_type === 'Free'"
            color="success"
            outline="true">
            <ion-label>{{ center.fee_type }}</ion-label>
          </ion-chip>
        </div>
        <div class="session-container"
          *ngFor="let session of center.sessions"
          [ngClass]="{ 'available': session.available_capacity, 'not-available': !session.available_capacity }">
          <ion-chip>
            <ion-label>Age: {{ session.min_age_limit }}
            </ion-label>
          </ion-chip>
          <ion-chip [color]="session.available_capacity ? 'success':''">
            <ion-label>{{ session.vaccine }}: {{ session.available_capacity }}
            </ion-label>
          </ion-chip>
          <ion-chip [color]="session.available_capacity_dose1 ? 'success':''">
            <ion-label>D1: {{session.available_capacity_dose1 }} </ion-label>
          </ion-chip>
          <ion-chip [color]="session.available_capacity_dose2 ? 'success':''">
            <ion-label>D2: {{ session.available_capacity_dose2 }} </ion-label>
          </ion-chip>
          <div class="slots-container">
            <ion-chip *ngFor="let slot of session.slots">
              <ion-label>{{ slot }} </ion-label>
            </ion-chip>
          </div>
        </div>
      </ion-label>
    </ion-card>

    <ion-card *ngIf="!filterClients.length"
      class="no-records-found">
      No Notifications Found. <br>Please add Vaccine Center to Notify
    </ion-card>
  </div>

</ion-content>