.centers-list {
  padding: 10px;
  ion-chip {
    padding: 0px 12px;
    height: 18px;
    font-size: 12px;
  }
  .radio-label {
    margin: 2px 0px;
  }
  .session-container {
    margin-bottom: 5px;
    border-radius: 10px;
    &.available {
      border: 1px solid rgb(97, 240, 97);
    }
    &.not-available {
      border: 1px solid rgb(240, 97, 97);
    }
  }
}

.card-container {
  padding-top: 50px;
}

.search-bar-item {
  position: fixed;
  z-index: 10;
  width: 100%;
}
.trash-outline-icon {
  position: absolute;
  cursor: pointer;
  right: 10px;
  font-size: 18px;
  &:hover {
    color: #f06161;
  }
}

.refresh-outline-icon {
  position: absolute;
  cursor: pointer;
  right: 60px;
  font-size: 26px;
  top: 15px;
  &.disabled {
    opacity: 0.3;
    pointer-events: none;
  }
  &:hover {
    color: rgb(0, 201, 10);
  }
}

.show-only-available {
  position: absolute;
  cursor: pointer;
  right: 110px;
  font-size: 26px;
  top: 15px;
  &.active {
    color: rgb(97, 240, 97);
  }
}

.notify-outline-icon {
  position: absolute;
  cursor: pointer;
  right: 14px;
  font-size: 28px;
  color: red;
  top: 15px;
  &:hover {
    color: #2202b4;
  }
  &.disabled {
    opacity: 0.3;
    pointer-events: none;
  }
  &.active {
    color: rgb(0, 201, 10);
    animation: blinker 1s linear infinite;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

::ng-deep {
  .home-component {
    .search-input {
      padding-left: 0;
      input {
        padding: 0 0 0 30px;
        box-shadow: none;
      }
      .searchbar-cancel-button {
        left: -3px;
      }
      .searchbar-search-icon {
        top: 5px;
        left: 4px;
      }
    }

    .ion-available-btn.button-solid {
      --box-shadow: none;
    }
  }
}

.no-records-found {
  height: 100px;
  display: flex;
  place-content: center center;
  flex-direction: column;
  box-shadow: none;
  text-align: center;
}
